[submodule "Chert/external/spdlog"]
	path = Chert/external/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Chert/external/glfw"]
	path = Chert/external/glfw
	url = https://github.com/glfw/glfw
[submodule "Chert/external/imgui"]
	path = Chert/external/imgui
	url = git@github.com:ocornut/imgui.git
	branch = docking
[submodule "Chert/external/glm"]
	path = Chert/external/glm
	url = git@github.com:g-truc/glm.git
[submodule "Chert/external/entt"]
	path = Chert/external/entt
	url = https://github.com/skypjack/entt
